#ballMove {
  box-shadow: 0px 0px 50px 10px rgb(0, 0, 0, 0.6);
  height:10rem;
  width: 10rem;
  position: absolute;
  top: -2vh;
  left: 0;
  background: 
  radial-gradient(ellipse at top, rgb(var(--teal), 0.6), transparent),
  radial-gradient(ellipse at bottom,rgb(var(--orange),0.8), transparent),
  linear-gradient(to left, transparent, rgb(var(--teal), 0.5)),
  linear-gradient(to right, transparent,  rgb(0, 64, 89));
  animation: moveBall 75s linear infinite;
  offset-path: path(var(--aboutPath));
}

@keyframes moveBall {
  0% {
    offset-distance: 0%;
    scale: 1;
  }
  25% {
    scale: 3;
  }
  50% {
    scale: 1;
  }
  70% {
    scale: 4;
  }
  100% {
    offset-distance: 100%;
    scale: 1;
  }
}

#ball1 {
  height:50rem;
  right: 10%;
  top: -12%;
  width: 50rem;
  background: linear-gradient(180deg, rgb(var(--teal), 0.6), transparent),
    linear-gradient(315deg, rgb(var(--orange), 0.8), transparent);
}

#ball2 {
  height: 40.1rem;
  left: -10%;
  top: 12%;
  width: 40.1rem;
  background: linear-gradient(0deg, rgb(var(--blue)), transparent),
    linear-gradient(135deg, rgb(var(--grey), 0.5), transparent),
    linear-gradient(180deg, rgb(var(--teal), 0.5), transparent),
    linear-gradient(225deg, rgb(var(--grey)), transparent);
}

#ball3 {
  bottom: -8%;
  height: 20rem;
  right: 21%;
  width: 20rem;
  background: linear-gradient(135deg, rgb(var(--grey), 0.5), transparent),
  linear-gradient(315deg, rgb(var(--blue)), transparent);
}

.img_section {
  margin: auto;
  position: relative;
  width: 70vw;
}
.img_container{
  border-radius: 5.5rem;
  margin-bottom: -30%;
  margin-left: 40vw;
  width: 30vw;
}

.my_img {
  border-radius: inherit;
  margin: auto;
  opacity: 0.7;
  width: 100%;
}

.main_description {
  align-items: center;
  border-radius: 5.5rem;
  color: var(--font);
  display: flex;
  flex-direction: column;
  font-weight: 900;
  justify-content: space-around;
  margin-bottom: 20vh;
  margin-right: 20vw;
  padding: 6em;
  text-align: justify;
  width: 50vw;
}

.titles {
  font-size: 3.1rem;
  letter-spacing: 2px;
  padding: 0 0 1.5em;
  text-shadow: 0px 0px 5px black
}

.p {
  pointer-events: none;
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 3.2rem;
  padding: 0 2em;
}

.relativSection {
  position: relative;
}

#ball4 {
  height: 37rem;
  margin-left: 18vw;
  top: -18%;
  width: 37rem;
  background: linear-gradient(180deg, rgb(var(--teal), 0.6), transparent),
    linear-gradient(315deg, rgb(var(--orange), 0.8), transparent);
}

.professional_description{
  align-items: center;
  border-radius: 5.5rem;
  color: var(--font);
  display: flex;
  flex-direction: column;
  font-weight: 900;
  justify-content: space-around;
  margin-bottom: 20em;
  margin-left: 25vw;
  padding: 6em;
  text-align: justify;
  width: 60vw;
}

#ball5 {
  bottom: -7%;
  height: 15rem;
  margin-left: 78vw;
  width: 15rem;
  background: linear-gradient(45deg, rgb(var(--blue)), transparent),
    linear-gradient(0deg, rgb(var(--grey), 0.3), transparent),
    linear-gradient(180deg, rgb(var(--grey)), transparent);
}