#ballMove {
  box-shadow: 0px 0px 50px 10px rgb(0, 0, 0, 0.6);
  height:10rem;
  width: 10rem;
  background: 
  radial-gradient(ellipse at top, rgb(var(--teal), 0.6), transparent),
  radial-gradient(ellipse at bottom,rgb(var(--orange),0.8), transparent),
  linear-gradient(to left, transparent, rgb(var(--teal), 0.5)),
  linear-gradient(to right, transparent,  rgb(0, 64, 89));
  animation: moveBall 55s linear infinite;
  offset-path: path("M -76.150182,136.36009 C 11.258169,17.281748 13.157937,223.82236 204.00401,155.22234 407.82201,69.264055 342.5917,471.38296 545.01089,356.22245 741.35372,228.80667 194.40164,-57.656296 102.00982,201.88116 24.114926,576.06567 648.1777,352.18309 735.73419,245.85597 817.04163,153.57833 1194.2312,237.29281 1042.2723,359.04271 905.69208,475.32758 601.93098,-74.287118 529.97236,180.35806 463.28035,466.42636 856.67911,177.53337 781.84592,360.22767 693.43229,526.81426 434.3369,167.40158 300.7997,304.10089 172.68896,433.79739 -95.734857,355.88005 -24.456051,242.36131 139.64844,-18.340555 243.69068,472.90454 445.32175,342.3341 581.45294,236.5813 779.00357,302.96273 952.24177,371.29647 1168.9964,461.1372 876.97444,56.249343 738.57927,163.26595 612.44667,272.15369 460.58807,422.71581 185.63217,336.20202 80.216748,291.64022 -145.50984,232.86498 -76.150182,136.36009 Z");
}

@keyframes moveBall {
  0% {
    offset-distance: 0%;
    scale: 1;
  }
  25% {
    scale: 3;
  }
  40% {
    scale: 1;
  }
  60% {
    scale: 4;
  }
  75% {
    scale: 2;
  }
  100% {
    offset-distance: 100%;
    scale: 1;
  }
}

#ball1 {
  height:50rem;
  right: 10%;
  top: -12%;
  width: 50rem;
  background: linear-gradient(180deg, rgb(var(--teal), 0.6), transparent),
    linear-gradient(315deg, rgb(var(--orange), 0.8), transparent);
}

#ball2 {
  height: 40.1rem;
  left: -10%;
  top: 12%;
  width: 40.1rem;
  background: linear-gradient(0deg, rgb(var(--blue)), transparent),
    linear-gradient(135deg, rgb(var(--grey), 0.5), transparent),
    linear-gradient(180deg, rgb(var(--teal), 0.5), transparent),
    linear-gradient(225deg, rgb(var(--grey)), transparent);
}

#ball3 {
  bottom: -8%;
  height: 20rem;
  right: 21%;
  width: 20rem;
  background: linear-gradient(135deg, rgb(var(--grey), 0.5), transparent),
  linear-gradient(315deg, rgb(var(--blue)), transparent);
}

.img_section {
  margin: auto;
  position: relative;
  width: 70vw;
}
.img_container{
  border-radius: 5.5rem;
  margin-bottom: -30%;
  margin-left: 40vw;
  width: 30vw;
}

.my_img {
  border-radius: inherit;
  margin: auto;
  opacity: 0.7;
  width: 100%;
}

.main_description {
  align-items: center;
  border-radius: 5.5rem;
  color: var(--font);
  display: flex;
  flex-direction: column;
  font-weight: 900;
  justify-content: space-around;
  margin-bottom: 20vh;
  margin-right: 20vw;
  padding: 6em;
  text-align: justify;
  width: 50vw;
}

.titles {
  font-size: 3.1rem;
  letter-spacing: 2px;
  padding: 0 0 1.5em;
  text-shadow: 0px 0px 5px black
}

.p {
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 3.2rem;
  padding: 0 2em;
}

.relativSection {
  position: relative;
}

#ball4 {
  height: 37rem;
  margin-left: 18vw;
  top: -18%;
  width: 37rem;
  background: linear-gradient(180deg, rgb(var(--teal), 0.6), transparent),
    linear-gradient(315deg, rgb(var(--orange), 0.8), transparent);
}

.professional_description{
  align-items: center;
  border-radius: 5.5rem;
  color: var(--font);
  display: flex;
  flex-direction: column;
  font-weight: 900;
  justify-content: space-around;
  margin-bottom: 20em;
  margin-left: 25vw;
  padding: 6em;
  text-align: justify;
  width: 60vw;
}

#ball5 {
  bottom: -7%;
  height: 15rem;
  margin-left: 78vw;
  width: 15rem;
  background: linear-gradient(45deg, rgb(var(--blue)), transparent),
    linear-gradient(0deg, rgb(var(--grey), 0.3), transparent),
    linear-gradient(180deg, rgb(var(--grey)), transparent);
}