.img_section {
  margin: auto;
  max-width: 70vw;
  position: relative;
}

.img_container {
  border-radius: 5.5rem;
  margin-bottom: -30%;
  margin-left: auto;
  max-width: 30vw;
}

.my_img {
  border-radius: inherit;
  margin: auto;
  max-width: 100%;
  opacity: 0.7;
}

.main_description {
  align-items: center;
  border-radius: 5.5rem;
  color: var(--font);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20vh;
  max-width: 50vw;
  padding: 6rem 8rem;
}

.titles {
  margin: 0 0 1.5em;
  line-height: 3.5ch;
}

.p {
  letter-spacing: 0.4ch;


  text-align: justify;
}

.relativSection {
  margin: auto;
  max-width: 70vw;
  position: relative;
}

.professional_description {
  align-items: center;
  border-radius: 5.5rem;
  color: var(--font);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20em;
  margin-left: auto;
  max-width: 60vw;
  padding: 6rem 8rem;
}

#ballMove {
  animation-delay: 1s;
  animation: moveBall 120s linear infinite;
  box-shadow: 0px 0px 5rem 1rem rgb(0, 0, 0, 0.8);
  height: 4.5vw;
  left: 0;
  offset-path: path(var(--aboutPath));
  position: absolute;
  top: -2vh;
  width: 4.5vw;
  background:
    radial-gradient(ellipse at top, rgb(var(--teal)), transparent),
    radial-gradient(ellipse at bottom, rgb(var(--orange)), transparent),
    linear-gradient(to left, transparent, rgb(var(--teal))),
    linear-gradient(to right, transparent, rgb(0, 64, 89));
}

@keyframes moveBall {
  0% {
    offset-distance: 0%;
    scale: 1;
  }

  25% {
    scale: 3;
  }

  50% {
    scale: 1;
  }

  70% {
    scale: 4;
  }

  100% {
    offset-distance: 100%;
    scale: 1;
  }
}

#ball1 {
  height: 30vw;
  right: 0%;
  top: 0%;
  translate: -24% -15%;
  width: 30vw;
  background: linear-gradient(180deg, rgb(var(--teal), 0.6), transparent),
    linear-gradient(315deg, rgb(var(--orange), 0.8), transparent);
}

#ball2 {
  height: 24vw;
  left: 0%;
  top: 0%;
  translate: -30% 16%;
  width: 24vw;
  background: linear-gradient(0deg, rgb(var(--blue)), transparent),
    linear-gradient(135deg, rgb(var(--grey), 0.5), transparent),
    linear-gradient(180deg, rgb(var(--teal), 0.5), transparent),
    linear-gradient(225deg, rgb(var(--grey)), transparent);
}

#ball3 {
  bottom: 0%;
  height: 12vw;
  right: 30vw;
  translate: 120% 20%;
  width: 12vw;
  background: linear-gradient(135deg, rgb(var(--grey), 0.5), transparent),
    linear-gradient(315deg, rgb(var(--blue)), transparent);
}

#ball4 {
  height: 22vw;
  left: 7.5vw;
  top: 0%;
  translate: -26% -28%;
  width: 22vw;
  background: linear-gradient(180deg, rgb(var(--teal), 0.6), transparent),
    linear-gradient(315deg, rgb(var(--orange), 0.8), transparent);
}

#ball5 {
  bottom: 0%;
  height: 6vw;
  right: 0%;
  translate: 24% 24%;
  width: 6vw;
  background: linear-gradient(45deg, rgb(var(--blue)), transparent),
    linear-gradient(0deg, rgb(var(--grey), 0.3), transparent),
    linear-gradient(180deg, rgb(var(--grey)), transparent);
}

@media screen and (max-width: 1400px) {
  .img_section {
    max-width: 80vw;
    margin-top: -5%;
  }

  .img_container {
    margin-bottom: -10%;
    margin-right: 10%;
    min-width: 50%;
    border-radius: 3.5rem;
  }

  .main_description {
    max-width: 100%;
    padding: 6rem 3rem;
  }

  .relativSection {
    margin: auto;
    max-width: 80vw;
    position: relative;
  }

  .professional_description {
    max-width: 100%;
    padding: 6rem 3rem;
    margin-bottom: 10rem;
  }

  #ball1 {
    height: 42vw;
    translate: 12% -15%;
    width: 42vw;
  }

  #ball2 {
    translate: -24% 30%;
  }

  #ball3 {
    bottom: 0%;
    right: 0%;
    translate: 24% 24%;
  }

  #ball4 {
    bottom: 0%;
    left: 0%;
    translate: -36% -36%;
  }
}

@media screen and (max-width: 1200px) {
  .ballMove {
    display: none;
    animation: none;
    animation-play-state: paused;
  }
}