.sectionFront {
  margin: auto;
  position: relative;
  height: 90vh;
  width: 70vw;
  margin-bottom: 20vh;
}

.imgFront {
  width: 40vw;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 5.5rem;
}

.textFront {
  height: 50vh;
  position: absolute;
  width: 40vw;
  bottom: 0px;
  left: 0px;
  border-radius: 50px;
}

.sectionBack {
  margin: auto;
  position: relative;
  height: 90vh;
  width: 70vw;
  margin-bottom: 20vh;
}

.imgBack {
  height: 50vh;
  width: 40vw;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: f.5rem;
}

.textBack {
  height: 50vh;
  position: absolute;
  width: 40vw;
  bottom: 0px;
  left: 0px;
  border-radius: 5.5rem;
}

