.cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  background: orangered;
  z-index: 1;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow:
    0 0 20px 20px rgb(176, 53, 0, 0.5),
    0 0 40px orangered,
    0 0 80px orangered,
    0 0 100px orangered;
  animation: colors 6s infinite alternate-reverse;
  position: fixed;
  transition: all 0.1s ease-in-out;
}

@keyframes colors {
  0% {
    filter: hue-rotate(30deg);
  }

  100% {
    filter: hue-rotate(190deg);
  }
}

.border {
  height: 30px;
  width: 30px;
  background-color: aquamarine;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  animation: 5s infinite circlesAnimation;
  transform: translate(-50%, -50%);
}

@keyframes circlesAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }
}