.container {
	padding: 0rem 5rem 2rem;
}

.transitionContainer {
	height: 55rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	transition: all 0.4s ease-in-out;
}

.transitionContainer p {
	color: var(--font);
	font-weight: 900;
	font-size: 2rem;
	letter-spacing: 0.3ch;
	text-align: justify;
	text-shadow: 0px 0px 2px black;
}

.psSpan {
	color: rgb(180, 77, 36, 0.9);
	margin-right: 0.5em;
	font-size: 2rem;
}

.techsContainer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

.techsSpan {
	color: var(--font);
	align-items: center;
	background: rgba(133, 50, 17, 0.8);
	border-radius: 2rem;
	text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black;
	border: 0.5px solid rgb(255, 255, 255, 0.2);
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: 900;
	letter-spacing: 0.3ch;
	padding: 0.4em 0.6em;
	padding: 0.4em 0.6em 0.4em calc(0.6em + 3px);
	text-align: center;
	margin: 0.3em;
	box-shadow:
		-2px -2px 4px rgba(0, 0, 0, 0.1),
		-1px -1px 4px rgba(0, 0, 0, 0.1),
		2px 2px 1px 1px rgba(90, 90, 90, 0.075),
		1px 1px 1px rgba(105, 105, 105, 0.1),
		inset 2px 2px 2px rgb(255, 255, 255, 0.5);
}

.btnsContainer {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.btn {
	background-color: inherit;
	border-radius: 1.5rem;
	border: 2px solid rgba(255, 255, 255, 0.2);
	color: var(--font);
	font-size: 1.8rem;
	font-weight: 900;
	letter-spacing: 0.4ch;
	padding: 0.5em 0.6em 0.5em calc(0.6em + 5px);
	text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
	transition: all 0.3s linear;
	box-shadow:
		/* active */
		inset -2px -2px 6px rgba(255, 255, 255, 0),
		inset -2px -2px 4px rgba(255, 255, 255, 0),
		inset 2px 2px 2px rgba(255, 255, 255, 0),
		inset 2px 2px 4px rgba(0, 0, 0, 0),
		inset 2px 2px 4px rgba(0, 0, 0, 0),
		/* hover */
		-0px -0px 10px 5px rgba(0, 0, 0, 0),
		inset 3px 3px 4px rgb(255, 255, 255, 0),
		/* default */
		-3px -3px 5px rgba(0, 0, 0, 0.1),
		-2px -2px 5px rgba(0, 0, 0, 0.1),
		3px 3px 2px 1px rgba(90, 90, 90, 0.075),
		2px 2px 3px rgba(105, 105, 105, 0.1),
		inset 3px 3px 6px 1px rgb(255, 255, 255, 0.5);
}

.btn:hover {
	transition: all 0.8s;
	box-shadow:
		/* active */
		inset -2px -2px 6px rgba(255, 255, 255, 0),
		inset -2px -2px 4px rgba(255, 255, 255, 0),
		inset 2px 2px 2px rgba(255, 255, 255, 0),
		inset 2px 2px 4px rgba(0, 0, 0, 0),
		inset 2px 2px 4px rgba(0, 0, 0, 0),
		/* hover */
		-0px -0px 12px 5px rgba(0, 0, 0, 0.5),
		inset 3px 3px 4px rgb(255, 255, 255, 0.5),
		/* default */
		-3px -3px 8px rgba(0, 0, 0, 0),
		-2px -2px 8px rgba(0, 0, 0, 0),
		3px 3px 2px 1px rgba(90, 90, 90, 0),
		2px 2px 4px rgba(105, 105, 105, 0),
		inset 3px 3px 4px rgb(255, 255, 255, 0);
}

.btn:active {
	transform: translate(-2%, -2%) scale(.98);
	transition: box-shadow 0.3s, transform 0.1s;
	box-shadow:
		inset -2px -2px 6px rgba(255, 255, 255, .7),
		inset -2px -2px 4px rgba(255, 255, 255, .5),
		inset 2px 2px 2px rgba(255, 255, 255, .075),
		inset 2px 2px 4px rgba(0, 0, 0, .15),
		inset 2px 2px 4px rgba(0, 0, 0, .15),
		-0px -0px 10px 5px rgba(0, 0, 0, 0.4);
}