.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  align-items: center;
  height: 100%;
}

.container img {
  width: 50%;
}

.image {
  transition: all 0.5s ease-in-out;
}
