.container {
	color: var(--font);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3rem 2rem 3rem;
}

.transitionContainer {
	display: flex;
	flex-direction: column;
	width: 80%;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.5s ease-in-out;
}

.title{
	padding-bottom: 1em;
  font-size: 3rem;
}

.image{
	border-radius: 2.5rem;
	max-width: 100%;
}

.techsContainer {
	display: flex;
	flex-wrap: wrap;
	margin: 3rem 0rem;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.techsSpan {
	align-items: center;
	border-radius: 2rem;
	border: 1px grey solid;
	display: flex;
	font-size: 1.8rem;
	padding: 0.5em 0.8em ;
	text-align:center;
  margin: 0.3em;
	box-shadow: 
		-3px -3px 8px rgba(0, 0, 0, 0.1),
		-2px -2px 8px rgba(0, 0, 0, 0.1),
		3px 3px 2px 1px rgba(90, 90, 90, 0.075),
		2px 2px 4px rgba(105, 105, 105, 0.1),
		inset 3px 3px 4px rgb(255, 255, 255, 0.5);
}

.buttonsContainer {
	align-items: center;
	display: flex;
	max-width: 100%;
  justify-content: space-around;
}

.btn {
	margin: 1em;
  background: none;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 3rem;
  padding: .8em;
  position: relative;
  transition: all 0.3s linear;
  box-shadow:
		/* active */
		inset -2px -2px 6px rgba(255, 255, 255, 0),
		inset -2px -2px 4px rgba(255, 255, 255, 0),
		inset 2px 2px 2px rgba(255, 255, 255, 0),
		inset 2px 2px 4px rgba(0, 0, 0, 0),
		inset 2px 2px 4px rgba(0, 0, 0, 0),
		/* hover */
		-0px -0px 10px 5px rgba(0, 0, 0, 0),
		inset 3px 3px 4px rgb(255, 255, 255, 0),
	  /* default */
		-3px -3px 8px rgba(0, 0, 0, 0.1),
		-2px -2px 8px rgba(0, 0, 0, 0.1),
		3px 3px 2px 1px rgba(90, 90, 90, 0.075),
		2px 2px 4px rgba(105, 105, 105, 0.1),
		inset 3px 3px 8px 1px rgb(255, 255, 255, 0.6);
}

.btn:hover {
	transition: all 0.8s;
	box-shadow:
		/* active */
		inset -2px -2px 6px rgba(255, 255, 255, 0),
		inset -2px -2px 4px rgba(255, 255, 255, 0),
		inset 2px 2px 2px rgba(255, 255, 255, 0),
		inset 2px 2px 4px rgba(0, 0, 0, 0),
		inset 2px 2px 4px rgba(0, 0, 0, 0),
	  /* hover */
		-0px -0px 10px 10px rgba(0, 0, 0, 0.5),
		inset 3px 3px 4px rgb(255, 255, 255, 0.5),
		/* default */
		-3px -3px 8px rgba(0, 0, 0, 0),
		-2px -2px 8px rgba(0, 0, 0, 0),
		3px 3px 2px 1px rgba(90, 90, 90, 0),
		2px 2px 4px rgba(105, 105, 105, 0),
		inset 3px 3px 4px rgb(255, 255, 255, 0);
}

.btn:active {
	transform: translate(-2%,-2%) scale(.98);
	transition: box-shadow 0.3s, transform 0.1s;
	box-shadow:
		inset -2px -2px 6px rgba(255, 255, 255, .7),
		inset -2px -2px 4px rgba(255, 255, 255, .5),
		inset 2px 2px 2px rgba(255, 255, 255, .075),
		inset 2px 2px 4px rgba(0, 0, 0, .15),
		inset 2px 2px 4px rgba(0, 0, 0, .15),
		-0px -0px 10px 5px rgba(0, 0, 0, 0.4);
}

.iconBtn {
  color: var(--font);
  transition: all 0.5s ease; 
}

.iconLeft {
  left: 50%;
  position: absolute;
  top: 55%;
  transform: translate(-55%, -55%);
}

.iconRight {
  left: 59%;
  position: absolute;
  top: 55%;
  transform: translate(-55%, -55%);
}

.btn:hover .iconBtn {
  color:rgb(0, 24, 34);
}
