header {
	align-items: center;
	border-bottom-left-radius: 5em;
	border-bottom-right-radius: 5em;
	border: 2px solid rgb(255, 255, 255, 0.2);
	display: flex;
	width: 45em;
	padding: 2em 0px;
	justify-content: space-evenly;
	margin: auto;
	margin-bottom: 12em;
	position: relative;
	transition: all 0.8s ease-in-out;
	z-index: 3;
}

.glass {
	backdrop-filter: blur(100px);
	border: 2px solid rgb(255, 255, 255, 0.2);
	box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.8);
	opacity: opacity 0.8;
	transition: all 1s ease;
}

.glass:hover {
	box-shadow: 0px 0px 40px 3px rgb(0, 0, 0, 0.8);
}

.btn {
	background-color: inherit;
	border-radius: 1rem;
	border: 2px solid rgba(255, 255, 255, 0.2);
	box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.1),
		-2px -2px 8px rgba(0, 0, 0, 0.1),
		3px 3px 2px 1px rgba(90, 90, 90, 0.075),
		2px 2px 4px rgba(105, 105, 105, 0.1),
		inset 3px 3px 4px rgb(255, 255, 255, 0.5);
	font-weight: 900;
	padding: 1.2em;
	transition: all 1.5s ease;

}

button:hover {
	box-shadow: -2px -2px 8px rgba(165, 165, 165, 0.3),
		-2px -2px 8px rgba(194, 194, 194, 0.4),
		2px 2px 2px rgba(255, 255, 255, 0.05),
		2px 2px 4px rgba(0, 0, 0, .1),
		inset 3px 3px 4px rgb(255, 255, 255, 0.5);
	cursor: pointer;
}

.btn:active {
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
		inset -2px -2px 4px rgba(255, 255, 255, .5),
		inset 2px 2px 2px rgba(255, 255, 255, .075),
		inset 2px 2px 4px rgba(0, 0, 0, .15),
		inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.btnText {
	color: rgb(255, 255, 255);
	font-size: 1.3rem;
	font-weight: 900;
	letter-spacing: 4px;
	text-transform: uppercase;
}