#nav {
	border: 2px solid rgb(255, 255, 255, 0.2);
	border-radius: 50px;
	backdrop-filter: blur(70px);
	box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.8);
	opacity: opacity 0.5;
	position: fixed;
	top: 30vh;
	right: 5vw;
	height: 30vh;
	width: 5vw;
	transition: all 0.8s ease-in-out;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	z-index: 10;
}

#nav:hover {
	box-shadow: 0px 0px 20px 3px rgb(0, 0, 0, 0.8);
}

.icons {
	color: var(--white);
	height: 40px;
	transition: all 0.5s ease;
	width: 40px;
}

.btn {
	appearance: none;
	background: none;
	border-radius: 50%;
	border: none;
	box-shadow: 0px 0px 3px rgb(255, 255, 255, 0.6),
		inset -10px -10px 10px #aeaec025, inset 7px 7px 10px rgb(255, 255, 255, 0.5);
	outline: none;
	padding: 10px;
	transition: all 0.5s ease;
}

.btn:hover .icons,
.btn:hover {
	color: rgba(var(--fontBlue), 0.7);
}

.btn:hover {
	box-shadow: 0px 0px 5px rgb(var(--fontBlue), 0.3),
		inset -10px -10px 10px #9797a225,
		inset 7px 7px 10px rgba(199, 199, 199, 0.5);
	cursor: pointer;
}
