#nav {
  font-size: 4rem;
  border: 2px solid rgb(255, 255, 255, 0.2);
  border-radius: 50em;
  backdrop-filter: blur(70px);
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.8);
  opacity: opacity 0.5;
  position: fixed;
  animation: forwards ease-in-out moveNav 5s;
  right: 5vw;
  height: 7em;
  padding: 0em 0.2em;
  transition: all 0.8s ease-in-out;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 10;
}


@keyframes moveNav {
  0% {
    top: -35vh;
  }
  80% {
    top: 40vh;
  }
  100% {
    top: 35vh;
  }
}

#nav:hover {
  box-shadow: 0px 0px 20px 3px rgb(0, 0, 0, 0.8);
}

.btn {
  position: relative;
  font-size: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  padding: .8em;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s linear;
  box-shadow:
		/* active */
		inset -2px -2px 6px rgba(255, 255, 255, 0),
		inset -2px -2px 4px rgba(255, 255, 255, 0),
		inset 2px 2px 2px rgba(255, 255, 255, 0),
		inset 2px 2px 4px rgba(0, 0, 0, 0),
		inset 2px 2px 4px rgba(0, 0, 0, 0),
		/* hover */
		-0px -0px 10px 5px rgba(0, 0, 0, 0),
		inset 3px 3px 4px rgb(255, 255, 255, 0),
	  /* default */
		-3px -3px 8px rgba(0, 0, 0, 0.1),
		-2px -2px 8px rgba(0, 0, 0, 0.1),
		3px 3px 2px 1px rgba(90, 90, 90, 0.075),
		2px 2px 4px rgba(105, 105, 105, 0.1),
		inset 3px 3px 8px 1px rgb(255, 255, 255, 0.6);
}

.btn:hover {
	cursor: pointer;
	transition: all 0.8s;
		box-shadow:
		/* active */
		inset -2px -2px 6px rgba(255, 255, 255, 0),
		inset -2px -2px 4px rgba(255, 255, 255, 0),
		inset 2px 2px 2px rgba(255, 255, 255, 0),
		inset 2px 2px 4px rgba(0, 0, 0, 0),
		inset 2px 2px 4px rgba(0, 0, 0, 0),
	  /* hover */
		-0px -0px 10px 10px rgba(0, 0, 0, 0.5),
		inset 3px 3px 4px rgb(255, 255, 255, 0.5),
		/* default */
		-3px -3px 8px rgba(0, 0, 0, 0),
		-2px -2px 8px rgba(0, 0, 0, 0),
		3px 3px 2px 1px rgba(90, 90, 90, 0),
		2px 2px 4px rgba(105, 105, 105, 0),
		inset 3px 3px 4px rgb(255, 255, 255, 0);
}

.btn:active {
	transform: translate(-2%,-2%) scale(.98);
	transition: box-shadow 0.3s, transform 0.1s;
	box-shadow:
		inset -2px -2px 6px rgba(255, 255, 255, .7),
		inset -2px -2px 4px rgba(255, 255, 255, .5),
		inset 2px 2px 2px rgba(255, 255, 255, .075),
		inset 2px 2px 4px rgba(0, 0, 0, .15),
		inset 2px 2px 4px rgba(0, 0, 0, .15),
		-0px -0px 10px 5px rgba(0, 0, 0, 0.4);
}

.iconBtn {
  color: var(--font);
  transition: all 0.5s ease;
  position: absolute;
  top: 20%;
  left: 20%;
}

.btn:hover .iconBtn {
  color:rgb(0, 24, 34);
}
