dl {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 6.5rem;
  gap: 0.8em 0.5em;
  justify-content: space-evenly;
  margin: auto;
}

dt {
  font-size: inherit;
  padding: 0 0.3em;
}

dd {
  color: var(--font);
  font-size: 1.6rem;
  letter-spacing: 0.5ch;
  text-align: center;
  text-shadow: 0px 0px 1px rgb(255, 255, 255);
}

.techs {
  color: rgb(2, 21, 32);
  transition: all 1s;
}

.tilt:hover .techs,
.tilt:hover dd {
  color: var(--font);
  cursor: pointer;
}