dl {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: row;
	width: 90%;
	margin: auto;
	align-items: center;
}

dt {
	transition: all 3s ease-in-out;
	align-items: center;
	margin: 28px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	text-align: center;
}

dd {
	margin-top: 10px;
	font-size: 18px;
	text-shadow: 1px 0 var(--white);
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
	color: var(--white);
	font-weight: 700;
	transition: all 1s;
}

.tecs {
	color: rgba(var(--fontBlue), 0.9);
	width: 70px;
	height: 70px;
	transition: all 1s;
}

.tilt:hover .tecs,
.tilt:hover dd {
	cursor: pointer;
	color: var(--white);
}
