dl {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: clamp(4rem, 3.5vw + 1rem, 6.5rem);
  gap: 0.8em 0.6em;
  justify-content: space-evenly;
  margin: auto;
}

dt {
  font-size: inherit;
  text-align: center;
}

dd {
  color: var(--font);
  font-size: clamp(1rem, 1.2vw + 1rem, 1.6rem);
  letter-spacing: 0.5ch;
  text-align: center;
  text-shadow: 0px 0px 1px rgb(255, 255, 255);
}

.techs {
  color: rgb(8, 17, 25);
  transition: all 1s;
}

.tilt:hover .techs,
.tilt:hover dd {
  color: var(--font);
  cursor: pointer;
}