* {
  box-sizing: border-box;
  font-family: 'Ubuntu Condensed', 'Vidaloka', 'Cardo', sans-serif, serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

html {
  --blue: 5, 46, 66;
  --darkTeal: 0, 47, 58;
  --font: rgba(213, 213, 213, 0.861);
  --fontBlue: 7, 29, 41;
  --grey: 93, 96, 109;
  --orange: 255, 72, 0;
  --teal: 1, 120, 120;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(circle at center,
      rgb(17, 46, 50), transparent),
    #042438;
  overflow-x: hidden;
}

h2 {
  letter-spacing: 0.2ch;
}

p {
  letter-spacing: 0.3ch;
  line-height: 3.8ch;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --homePath: "M 1204.314,-22.286646 C 1150.1719,-12.955357 981.27792,89.218691 1037.6987,254.84473 1133.6356,490.26981 803.054,599.32262 636.4055,324.91265 560.1453,203.18653 461.59789,352.92352 303.03504,377.36342 -17.157448,433.13181 26.531822,19.897028 273.4527,131.11008 486.09515,244.33418 582.7952,348.98201 404.49954,428.68108 270.53622,479.15705 128.07231,516.12045 39.554017,443.34245 -159.66722,290.86697 59.927958,198.88862 106.59225,312.89649 c 38.24667,76.57439 0.0955,147.87127 74.73656,202.65621 C 376.24773,613.40075 802.169,668.31982 760.73431,409.35843 715.90482,169.48962 367.02139,322.17081 578.55623,524.173 694.38527,645.25777 1232.3819,831.10781 1187.0122,350.16889 1158.4471,9.1824854 620.6335,222.30535 1088.9384,509.87809 1329.7816,643.52425 1532.854,356.95882 1386.262,236.93871 1159.3628,95.345411 1063.534,357.38395 1200.1013,405.28173 1337.0468,460.5191 1278.3577,595.07784 1182.689,615.21215 1039.16,626.14171 770.79148,520.91067 641.65224,606.12125 431.18643,732.32405 456.84555,761.19131 207.63829,705.99239 -78.725214,630.90392 -76.188431,921.5006 155.85532,885.6266 473.53715,821.35734 570.13192,695.76672 836.21132,572.50584 1194.8363,407.42631 1377.0676,755.52288 1130.5805,833.76675 456.86121,1008.4991 680.28702,334.81249 1079.1589,686.84355 c 218.5659,242.29151 435.653,-25.668 264.1458,-153.31878 C 838.97212,199.8365 792.05814,1007.7602 290.31666,670.92725 63.677238,484.93141 265.37098,317.02061 404.74771,380.42909 1175.9735,719.63619 1811.6874,-65.754587 1372.5192,-34.271981 Z";
  --aboutPath: 'm 187.82242,-45.071461 c -40.75428,155.502491 69.33197,294.826871 206.27353,236.991131 206.14802,-68.56223 181.12414,98.5481 318.2778,105.77479 94.81331,1.52353 139.03776,-77.2748 117.52861,-130.5283 -42.27904,-78.44331 -181.04903,-68.794724 -198.02368,13.36733 -15.51675,82.43197 82.25905,98.18873 45.74902,174.5517 C 628.11488,427.83786 485.60416,402.27432 405.49246,248.36276 358.80997,148.76984 425.65081,50.188833 531.64013,77.25241 689.89469,128.76549 587.61609,293.63311 476.69009,303.26542 368.12368,311.70989 250.33533,288.66167 198.07012,203.85321 101.89268,20.667967 339.66444,-15.328434 386.51082,119.39567 425.93974,242.67481 255.41665,266.0841 338.57138,370.8612 c 96.2939,107.04463 247.32707,-27.14237 346.5792,-33.87319 80.40639,-3.02323 122.93866,67.50464 36.50853,84.2372 -75.35612,11.76859 -148.13805,-13.51736 -197.3164,-74.27624 -122.83764,-172.9477 -298.73393,-47.74651 -195.49478,34.28796 82.92886,48.49094 224.59886,61.94877 283.86722,16.51885 52.95016,-54.0184 -37.35812,-164.86144 -182.47856,-34.90851 -59.75085,50.26992 -127.28756,60.26589 -190.18998,14.5448 C 198.09883,340.35962 201.01385,295.24199 223.78551,234.81861 302.90382,61.325428 481.25909,54.296958 581.90499,160.26212 673.16995,278.54896 506.36537,362.16842 409.99058,304.04786 363.19759,278.63956 360.8997,224.87704 283.54221,194.31851 148.81775,144.22929 116.33053,79.018762 113.27647,-39.355364 c -0.14643,-47.680058 83.82448,-59.937983 74.54595,-5.716097 z';
  --projectsPath: 'm 1328.9561,12.023532 c -87.7452,65.743384 -207.7863,89.201328 -170.4633,223.886358 24.4359,79.53133 -76.316,151.18439 -154.0308,126.83116 C 858.35192,297.73508 922.18926,273.94116 770.98435,219.58853 618.51149,179.41468 579.68948,321.01692 525.12918,389.77436 473.58616,449.47789 356.1279,512.80105 287.53395,437.1431 215.13651,345.36755 262.58938,197.26242 381.26574,153.18932 472.35787,126.03154 585.19788,175.97679 592.84413,264.26811 603.0276,397.61352 540.77616,531.58027 444.16567,633.60173 359.27877,688.0277 249.76032,646.85946 165.33371,613.29491 87.630855,583.82058 -13.831123,536.10589 -4.4721415,450.03409 -15.069212,369.45435 118.60336,330.24877 176.41377,388.01992 c 90.52162,98.21651 8.29941,245.41751 109.77142,338.9414 88.78836,59.24006 208.78975,41.26741 311.33603,27.85048 121.52182,-28.4061 231.76754,-131.20261 211.90334,-245.46113 -33.44214,-94.91995 -222.47251,-58.32816 -214.73862,37.65662 6.76891,91.25947 121.45764,133.06382 213.56464,137.57773 165.32643,10.49601 325.74862,-83.91011 398.94972,-208.17968 47.0762,-107.23603 -156.9791,-111.96264 -210.61251,-43.81754 -54.21204,70.50452 22.06251,156.60373 101.73611,180.64204 96.4566,33.72203 209.3422,-0.11667 276.0657,-71.92412 60.9287,-77.11321 109.7096,-150.82704 16.9837,-211.99264 -195.0409,-70.77644 -249.1763,164.03196 -166.1951,239.21814 74.2609,59.62762 170.6304,247.95837 -75.6085,306.28137 C 1019.4752,900.49955 822.81841,632.14605 707.92175,769.84414 595.78881,903.87965 550.90392,1026.2895 229.56158,968.0401 118.97159,946.47171 37.931429,1056.4382 73.640558,1141.3479 c 32.440092,90.4374 164.321142,108.6755 256.190982,83.0304 191.54832,-47.0319 285.52983,-135.724 375.12042,-280.00134 112.35985,-142.42622 336.17854,-69.71585 409.72774,-24.57435 93.2157,68.99781 81.8101,209.59889 -18.1729,269.74679 -61.6077,52.5598 -196.83141,90.8704 -250.74603,12.6216 -45.74755,-84.1181 19.0184,-179.0258 93.02572,-233.50023 80.67271,-47.99476 182.74601,-15.35855 261.68801,17.91293 83.7161,27.7511 211.1634,11.64346 228.4341,-78.71949 C 1431.4675,630.64351 1040.7241,706.11007 871.1828,774.6688 722.66809,841.12328 581.19778,947.12284 404.51255,940.06821 316.82447,933.26707 255.66349,863.72505 285.41128,773.82093 333.01809,667.14866 462.63478,602.54809 591.55665,599.88902 779.70228,584.60979 982.89086,632.48866 1157.5221,550.2894 1317.2807,473.03832 1461.7062,380.27673 1531.6985,207.10541 1580.6649,63.642877 1427.7216,-61.944406 1328.9561,12.023532 Z'
}

.glass {
  backdrop-filter: blur(150px);
  -webkit-backdrop-filter: blur(150px);
  border: 2px solid rgb(255, 255, 255, 0.2);
  box-shadow: 0px 0px 3rem rgb(0, 0, 0, 0.8);
  z-index: 3;
}

.ball {
  border-radius: 50%;
  position: absolute;
  z-index: -5;
  box-shadow: 0px 0px 150px 10px rgb(0, 0, 0, 0.9);
}

.ballRotate {
  animation: rotate 24s infinite linear forwards 1.5s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

button {
  outline: none;
  cursor: pointer;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

::-webkit-scrollbar {
  background: inherit;
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--orange), 0.5);
  border-radius: 30rem;
  border: 3px solid rgb(var(--darkTeal));
  height: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 100%;
}