* {
  box-sizing: border-box;
  font-family: 'Ubuntu Condensed', 'Vidaloka', 'Cardo', sans-serif, serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --blue: 5, 46, 66;
  --darkTeal: 0, 47, 58;
  --font: rgba(213, 213, 213, 0.861);
  --fontBlue: 7, 29, 41;
  --grey: 93, 96, 109;
  --orange: 255, 72, 0;
  --teal: 1, 120, 120;
  font-size: 62.5%;
  --homePath: "M 1395.5806,-21.091418 C 1271.1616,125.64845 972.79356,74.631806 984.36205,356.57051 986.16339,451.41316 1006.8659,661.78877 950.77521,705.63443 829.91248,800.70083 574.24536,692.45451 498.46919,515.3199 463.88549,417.65723 451.80039,325.50085 502.2411,234.02208 640.40902,52.128707 944.68119,76.811968 1001.8737,268.71786 1076.3759,484.52986 824.24435,742.38474 648.55902,735.22429 587.27526,729.77171 466.01313,661.98578 450.55254,573.10293 429.00142,458.72433 387.07723,411.14395 286.21939,383.30931 193.69627,365.23687 95.187326,399.17986 83.514028,528.05756 75.994099,730.29118 231.56298,877.96487 365.99296,853.44004 c 68.74993,-7.2357 121.52717,-74.49347 161.64754,-147.13788 89.23508,-134.2978 65.93104,-235.53166 209.56457,-258.84472 72.79531,-1.57929 218.78452,34.23833 302.44613,145.94376 125.6533,111.25617 288.3864,-56.56893 295.941,213.85578 0.4173,141.53212 80.0304,174.52828 29.1832,243.82772 C 1217.6306,1206.5899 1190.9261,933.55194 988.04053,986.62188 777.67631,1042.8709 767.27883,1028.9311 541.25067,962.33246 390.89766,935.57594 317.8249,1207.9938 183.51779,1205.1323 111.82904,1202.3864 45.220249,1116.6129 37.088981,1019.1105 33.711406,812.2957 155.30383,841.85622 222.08739,889.06036 c 141.3514,107.73235 140.60641,184.71314 202.44105,325.62344 43.66601,85.4701 0.69547,160.0012 166.06374,205.3196 121.16943,105.7046 264.89931,163.1343 399.41615,62.553 96.82737,-68.702 160.14157,-235.7925 118.28797,-383.4445 -43.364,-183.06101 -207.2022,-308.13095 -335.14073,-211.59751 -66.30074,38.7135 -124.15413,132.14171 -106.31551,238.86131 17.7758,151.3161 156.10948,225.4262 258.2201,158.4576 58.14479,-59.0822 101.90254,-134.8963 95.01664,-250.0853 -5.9971,-147.99913 -191.94261,-193.05635 -299.70293,-195.38087 -152.02266,17.49289 -73.57395,-68.60295 -190.88586,-179.4963 -64.2054,-79.49393 28.25192,-214.16924 90.66342,-249.11502 160.22606,-89.76346 329.11263,8.33502 491.99787,24.7209 62.4795,7.72014 124.4151,-6.24012 186.4349,-9.99775 107.8351,-30.19138 211.4302,-164.24674 209.5329,-325.565721 -3.4922,-72.447956 -54.1567,-201.651899 -112.5365,-121.004657 z";
  --aboutPath: "M -76.150182,136.36009 C 11.258169,17.281748 13.157937,223.82236 204.00401,155.22234 407.82201,69.264055 342.5917,471.38296 545.01089,356.22245 741.35372,228.80667 194.40164,-57.656296 102.00982,201.88116 24.114926,576.06567 648.1777,352.18309 735.73419,245.85597 817.04163,153.57833 1194.2312,237.29281 1042.2723,359.04271 905.69208,475.32758 601.93098,-74.287118 529.97236,180.35806 463.28035,466.42636 856.67911,177.53337 781.84592,360.22767 693.43229,526.81426 434.3369,167.40158 300.7997,304.10089 172.68896,433.79739 -95.734857,355.88005 -24.456051,242.36131 139.64844,-18.340555 243.69068,472.90454 445.32175,342.3341 581.45294,236.5813 779.00357,302.96273 952.24177,371.29647 1168.9964,461.1372 876.97444,56.249343 738.57927,163.26595 612.44667,272.15369 460.58807,422.71581 185.63217,336.20202 80.216748,291.64022 -145.50984,232.86498 -76.150182,136.36009 Z";
}

body {
  height: 100%;
  overflow-x: hidden;
  width: 100vw;
  background: radial-gradient(circle at center,
    rgb(17, 46, 50), transparent),
    linear-gradient(0deg, transparent, #063145),
    linear-gradient(90deg, transparent, #042438),
    linear-gradient(135deg, transparent, rgb(11, 74, 108)),
    linear-gradient(225deg, transparent, rgb(31, 92, 92)),
    linear-gradient(270deg, transparent, rgb(24, 37, 152));
}

main {
  max-width: 100vw;
}

.glass {
  backdrop-filter: blur(100px);
  border: 2px solid rgb(255, 255, 255, 0.2);
  box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.8);
  opacity: opacity 0.8;
  transition: all 1s ease-in-out;
}

.glass:hover {
  box-shadow: 0px 0px 40px 3px rgb(0, 0, 0, 0.8);
}

.ball {
  animation-duration: 12s, 5s;
  animation-iteration-count: infinite, infinite;
  animation-name: rotate, shadow;
  animation-timing-function: linear, linear;
  border-radius: 50%;
  position: absolute;
}

@keyframes shadow {
  0% {
    box-shadow: 0px 0px 100px rgb(0, 0, 0, 0.8);
    opacity: 0.7;
  }

  50% {
    box-shadow: 0px 0px 150px 10px rgb(0, 0, 0, 0.9);
    opacity: 1;
  }

  100% {
    box-shadow: 0px 0px 100px rgb(0, 0, 0, 0.8);
    opacity: 0.7;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

::-webkit-scrollbar {
  background: inherit;
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--orange),0.5);
  border-radius: 30rem;
  border: 3px solid rgb(var(--darkTeal));
  height: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 100%;
}


