* {
  box-sizing: border-box;
  font-family: 'Ubuntu Condensed', 'Vidaloka', 'Cardo', sans-serif, serif;
  margin: 0;
  padding: 0;
}

:root {
  --blue: 5, 46, 66;
  --darkTeal: 0, 47, 58;
  --font: rgba(234, 234, 234, 0.861);
  --fontBlue: 7, 29, 41;
  --grey: 93, 96, 109;
  --orange: 255, 72, 0;
  --teal: 1, 120, 120;
  font-size: 62.5%;
}

body {
  height: 100%;
  overflow-x: hidden;
  width: 100vw;
  background: radial-gradient(circle at center,
    rgb(17, 46, 50), transparent),
    linear-gradient(0deg, transparent, #063145),
    linear-gradient(90deg, transparent, #042438),
    linear-gradient(135deg, transparent, rgb(11, 74, 108)),
    linear-gradient(225deg, transparent, rgb(31, 92, 92)),
    linear-gradient(270deg, transparent, rgb(24, 37, 152));
}

.glass {
  backdrop-filter: blur(100px);
  border: 2px solid rgb(255, 255, 255, 0.2);
  box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.8);
  opacity: opacity 0.8;
  transition: all 1s ease-in-out;
}

.glass:hover {
  box-shadow: 0px 0px 40px 3px rgb(0, 0, 0, 0.8);
}

.ball {
  animation-duration: 12s, 5s;
  animation-iteration-count: infinite, infinite;
  animation-name: rotate, shadow;
  animation-timing-function: linear, linear;
  border-radius: 50%;
  position: absolute;
}

@keyframes shadow {
  0% {
    box-shadow: 0px 0px 100px rgb(0, 0, 0, 0.8);
    opacity: 0.7;
  }

  50% {
    box-shadow: 0px 0px 150px 10px rgb(0, 0, 0, 0.9);
    opacity: 1;
  }

  100% {
    box-shadow: 0px 0px 100px rgb(0, 0, 0, 0.8);
    opacity: 0.7;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}